:root {
  --color-primary: hsl(199, 89%, 48%);
  --color-primary-light: hsl(201, 94%, 86%);
  --color-primary-dark: hsl(204, 80%, 16%);
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(204, 94%, 94%);
  --color-gray-50: hsl(210deg, 19%, 10%);
  --color-gray-200: hsl(210deg, 15%, 25%);
  --color-gray-400: hsl(210deg, 9%, 45%);
  --color-gray-600: hsl(210deg, 12%, 55%);
  --color-gray-800: hsl(210deg, 20%, 77%);
  --color-gray-1000: hsl(210deg, 25%, 96%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.app-wrapper {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
}

.side-nav-container {
  background-color: var(--color-primary-dark);
}

nav {
  background-color: var(--color-primary-dark);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-primary-light);
  padding: 0 32px;
  min-height: 100vh;
  min-height: 100dvh;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: calc(24 / 16 * 1rem);
}

ul.main-nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 100px;
}

ul.main-nav li {
}

ul.second-nav {
  margin: 0 -32px;
  text-align: center;
}

ul.second-nav li {
  padding: 16px 0;
  border-top: 1px solid var(--color-gray-400);
}

button.menu-btn {
  background-color: var(--color-primary-dark);
  border: none;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  visibility: hidden;
}

main {
  background-color: var(--color-off-white);
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 32px 0;
}

.card-wrapper {
  padding: 0 32px;
  width: clamp(500px, 60%, 700px);
  max-width: 100%;
}

.card {
  background-color: var(--color-white);
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 10px 30px 0px hsl(199, 89%, 48%, 0.2);
  padding: 32px;
}

form {
  font-size: 0.875rem;
}

label,
input {
  display: block;
}

label {
  font-weight: 600;
  color: var(--color-gray-200);
  margin-bottom: calc(24 / 16 * 1rem);
}

input {
  margin-top: 8px;
  padding: 8px 16px;
  border-radius: 100vmax;
  border: 1px solid var(--color-gray-800);
  font-weight: revert;
  background-color: var(--color-gray-1000);
  color: black;
}

.macro-input {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

/* .macro-input:last-of-type {
  margin-bottom: -24px;
} */

.macro-input label:last-of-type {
  text-align: right;
}

.macro-input label:last-of-type input {
  margin-left: auto;
}

button.search-btn {
  width: 100%;
  padding: calc(14 / 16 * 1rem);
  border: none;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border-radius: 100vmax;
  font-size: 1rem;
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
