.nutritional-breakdown h1 {
  margin-bottom: 8px;
  font-size: calc(20 / 16 * 1rem);
  font-weight: 600;
}

.nutritional-breakdown p {
  color: var(--color-gray-200);
  font-size: 0.875rem;
  margin-bottom: 32px;
}

form .form-instruction {
  margin-bottom: 1rem;
}

.card-wrapper {
  width: min(calc(560 / 16 * 1rem), 95vw);
}
