main {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

#title-card {
  background-color: var(--color-off-white);
  box-shadow: none;
  padding: 0;
}

#title-card h1 {
  font-size: clamp(3.5rem, 8vw + 1.75rem, 5rem);
}

#title-card ul {
  padding-left: 0;
  font-size: 1.5rem;
  color: var(--color-gray-400);
}

#title-card ul li {
  margin-bottom: 1rem;
  list-style-type: none;
}

#signin-card {
  background-image: url("../../assets/signin-background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-position-x: right;
}

@media (max-width: calc(500 / 16 * 1rem)) {
  #title-card ul {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: calc(300 / 16 * 1rem)) {
  #title-card h1 {
    font-size: 3rem;
  }
}
