:root {
  --color-primary: hsl(199, 89%, 48%);
  --color-primary-light: #bae5fd;
  --color-primary-dark: hsl(204, 80%, 16%);
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(203, 94%, 94%);
  --color-accent: hsl(22, 92%, 86%);
  --color-gray-50: hsl(210deg, 19%, 10%);
  --color-gray-200: hsl(210deg, 15%, 25%);
  --color-gray-400: hsl(210deg, 9%, 45%);
  --color-gray-600: hsl(210deg, 12%, 55%);
  --color-gray-800: hsl(210deg, 20%, 77%);
  --color-gray-1000: hsl(210deg, 25%, 96%);
  --color-invalid: red;
  --color-invalid-background: hsl(4, 100%, 95%, 0.9);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.app-body {
  display: flex;
  flex: 1;
}

.side-nav-container {
  background-color: var(--color-primary-dark);
}

nav {
  background-color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
  color: var(--color-primary-light);
  padding: 0 32px;
  min-height: 100vh;
  min-height: 100dvh;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: calc(24 / 16 * 1rem);
}

ul.main-nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto 0;
}

ul.main-nav li {
  padding-right: 32px;
}

.active-page-link {
  background-color: var(--color-accent);
  color: var(--color-primary-dark);
}

ul.main-nav .active-page-link {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  margin-left: -32px;
  border-top-right-radius: 100vmax;
  border-bottom-right-radius: 100vmax;
}

ul.second-nav {
  margin: 0 -32px;
  text-align: center;
}

ul.second-nav li {
  padding: 16px 0;
  border-top: 1px solid var(--color-primary-light);
}

ul.second-nav li.active-page-link,
li.active-page-link + li {
  border-top-color: var(--color-accent);
}

.nav-buttons-group {
  display: none;
}

button.nav-btn {
  display: none;
  background-color: var(--color-primary-dark);
  border: none;
  height: calc(50 / 16 * 1rem);
  width: calc(50 / 16 * 1rem);
}

nav li a {
  color: var(--color-primary-light);
  text-decoration: none;
}

nav li a:visited {
  color: var(--color-primary-light);
}

main {
  background-color: var(--color-off-white);
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 48px 16px;
  min-height: 100vh;
  min-height: 100dvh;
}

.page-header {
  text-align: center;
  line-height: 1.5;
}

.page-header h1 {
  font-size: clamp(2.5rem, 2.6vw + 1.75rem, 3.5rem);
  min-height: 0vh;
  margin-bottom: 16px;
}

.page-header p {
  color: var(--color-gray-200);
}

.card-wrapper {
  width: min(calc(500 / 16 * 1rem), 95vw);
}

.card {
  background-color: var(--color-white);
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 10px 30px 0px hsl(199, 89%, 48%, 0.2);
  padding: 32px;
}

form {
  font-size: 0.875rem;
}

#nutritional-requirements {
  margin-top: 16px;
}

.form-instruction {
  margin-bottom: 16px;
  color: var(--color-gray-200);
}

label,
input,
select {
  display: block;
}

label {
  font-weight: 600;
  color: var(--color-gray-200);
  margin-bottom: calc(24 / 16 * 1rem);
}

input,
select {
  margin-top: 8px;
  padding: 8px 16px;
  border-radius: 100vmax;
  border: 1px solid var(--color-gray-800);
  font-weight: revert;
  background-color: var(--color-gray-1000);
  color: black;
}

.macro-input {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.macro-input label:last-of-type {
  text-align: right;
}

.macro-input label:last-of-type input {
  margin-left: auto;
}

button.search-btn {
  width: 100%;
  padding: calc(14 / 16 * 1rem);
  border: none;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border-radius: 100vmax;
  font-size: 1rem;
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.unpopulatedInputsMsg {
  color: var(--color-invalid);
  font-size: 0.875rem;
  margin-bottom: 16px;
  display: block;
}

input.invalidInput {
  border: 1px solid var(--color-invalid);
  background-color: var(--color-invalid-background);
  color: var(--color-invalid);
}

input.invalidInput:focus,
input.invalidInput:active {
  outline: 1px solid var(--color-invalid);
}

input.invalidInput:-webkit-autofill,
input.invalidInput:-webkit-autofill:hover,
input.invalidInput:-webkit-autofill:focus,
input.invalidInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-invalid-background) inset;
  -webkit-text-fill-color: var(--color-invalid);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-gray-1000) inset;
}

span.invalid-label {
  color: var(--color-invalid);
  font-weight: 400;
  margin-top: 4px;
  display: block;
}

span.invalid-label.hidden {
  display: none;
}

.recipe-img-wrapper {
  margin: -32px -32px 16px;
}

.recipe-img-wrapper img {
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.recipe-header h1 {
  font-size: 2rem;
}

.ready-in {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.clock-icon {
  width: calc(25 / 16 * 1rem);
  height: calc(25 / 16 * 1rem);
}

.ready-in span {
  text-wrap: nowrap;
}

section.nutritional-content,
section.ingredients {
  margin-bottom: 2rem;
}

#nutritional-content {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.nutrition-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary-light);
  padding: 8px;
  border-radius: 100vmax;
}

.nutrition-stat-content {
  height: calc(60 / 16 * 1rem);
  width: calc(60 / 16 * 1rem);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 8px;
  font-weight: 600;
}

.nutrition-stat-label {
  font-size: calc(14 / 16 * 1rem);
  margin-bottom: 16px;
}

#ingredients-content {
  background-color: var(--color-accent);
  padding: 24px;
  border-radius: 20px;
}

#ingredients-content span {
  display: block;
  margin-bottom: 16px;
  font-weight: 600;
}

.ingredients-list {
  padding: 0;
  margin-left: 24px;
}

.ingredients-list li {
  margin-bottom: 0.5rem;
}

.ingredients-list li:last-of-type {
  margin-bottom: 0;
}

.section-header {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap-reverse;
}

.section-header h2 {
  font-size: calc(20 / 16 * 1rem);
  font-weight: 600;
}

button.toggle-content-btn {
  border: none;
  background-color: var(--color-white);
  margin-left: auto;
  width: calc(40 / 16 * 1rem);
  height: calc(40 / 16 * 1rem);
}

#instructions-content {
  padding-left: 20px;
}

#instructions-content li {
  margin-bottom: 1rem;
}

#instructions-content li:last-of-type {
  margin-bottom: 0;
}

.save-recipe-btn {
  height: 40px;
  width: 40px;
  margin-top: 16px;
  border: none;
  background-color: var(--color-white);
  padding: 0;
}

.hidden {
  display: none !important;
}

.centered-text {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
  }
  button.search-btn:hover {
    background-color: var(--color-accent);
    color: var(--color-primary-dark);
  }

  button.nav-btn:hover img {
    filter: hue-rotate(204deg);
  }

  nav li:hover {
    cursor: pointer;
  }

  nav li.active-page-link {
    cursor: default;
  }

  nav li a:hover {
    color: var(--color-accent);
  }

  nav ul.second-nav li:not(.active-page-link):hover {
    color: var(--color-accent);
  }
}

@media (max-width: calc(1100 / 16 * 1rem)) {
  nav {
    padding: 8px;
  }

  ul.main-nav {
    display: none;
  }

  ul.second-nav {
    display: none;
  }

  button.nav-btn {
    display: revert;
  }

  .nav-buttons-group {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 8px;
  }
}

@media (max-width: calc(700 / 16 * 1rem)) {
  .app-body {
    flex-direction: column;
  }

  nav {
    min-height: revert;
    flex-direction: row;
  }

  .nav-buttons-group {
    flex-direction: row;
    margin-left: auto;
  }
}

@media (max-width: calc(400 / 16 * 1rem)) {
  .recipe-header h1 {
    font-size: 1.75rem;
  }
}

/* styles for extremely small screens */
@media (max-width: calc(250 / 16 * 1rem)) {
  .card {
    padding: 8px;
  }

  #ingredients-content {
    padding: 24px 8px;
  }

  #instructions-content {
    padding-left: 0;
  }

  .ingredients-list {
    margin-left: 0;
  }

  .recipe-img-wrapper {
    margin: -8px;
    margin-bottom: 16px;
  }

  .section-header h2 {
    font-size: 1rem;
  }

  .recipe-header h1 {
    font-size: 1rem;
  }

  li {
    list-style-type: none;
  }

  button.toggle-content-btn {
    width: calc(30 / 16 * 1rem);
    height: calc(30 / 16 * 1rem);
  }

  .page-header h1 {
    font-size: 1.5rem;
  }

  .macro-input {
    flex-direction: column;
    gap: 0;
  }

  .macro-input label:last-of-type {
    text-align: left;
  }

  .macro-input label:last-of-type input {
    margin-left: 0;
  }

  button.search-btn {
    padding: calc(8 / 16 * 1rem);
  }
}

@media (max-width: calc(200 / 16 * 1rem)) {
  nav {
    flex-direction: column;
  }

  .nav-buttons-group {
    flex-direction: column;
    margin: 0;
  }
}

/* mobile menu styles */

.mobile-menu.modal-content-wrapper {
  height: 100vh;
  height: 100dvh;
  background-color: var(--color-white);
  z-index: 2;
  width: min(100%, 300px);
  position: relative;
}

#mobile-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: var(--color-primary-dark);
}

#mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: calc(24 / 16 * 1rem);
}

#mobile-menu li {
  list-style-type: none;
}

#mobile-menu a {
  color: var(--color-primary-light);
  text-decoration: none;
}

#mobile-menu li.active-page-link {
  color: var(--color-accent);
  background-color: revert;
}

@media (hover: hover) and (pointer: fine) {
  #mobile-menu a:hover {
    color: var(--color-accent);
  }
}

#close-mobile-menu-btn {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: var(--color-primary-dark);
  border: none;
  right: 15px;
  top: 15px;
}

footer {
  min-height: 150px;
  background-color: var(--color-gray-50);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 48px 80px 4px;
}

footer .footer-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 24px;
}

footer .footer-content-section {
  flex: 1;
}

footer .author {
  margin: auto;
}

footer .author p {
  font-weight: 600;
  font-size: calc(18 / 16 * 1rem);
  color: var(--color-primary-light);
  margin-bottom: 16px;
  text-align: center;
}

footer .contacts {
  display: flex;
  justify-content: center;
  gap: 16px;
}

footer .contacts .contact-container {
  height: calc(40 / 16 * 1rem);
  width: calc(40 / 16 * 1rem);
}

footer .attribution {
  margin: auto;
  text-align: center;
}

footer .attribution p {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: calc(18 / 16 * 1rem);
  color: var(--color-primary-light);
}

footer .attribution ul {
  padding: 0;
}

footer .attribution li {
  list-style-type: none;
}

footer .attribution a {
  text-decoration: none;
  color: white;
}

footer .attribution a:visited {
  color: white;
}

footer .footer-bottom {
  margin: auto;
  font-size: 0.75rem;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  footer .attribution a:hover {
    color: var(--color-accent);
  }
}
