.modal-container,
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-container {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu.modal-container {
  justify-content: flex-start;
}

.modal-container[aria-hidden="true"] {
  display: none;
}

.modal-overlay {
  background-color: rgb(43 46 56 / 0.9);
}

.modal-content-wrapper {
  width: min(calc(500 / 16 * 1rem), 95vw);
}

.modal-content {
  z-index: 2;
  position: relative;
  overflow: auto;
  max-height: 90vh;
  border-radius: 25px;
}

.modal-content.card {
  box-shadow: none;
}

.confirm-modal {
  background-color: var(--color-white);
  border-radius: 25px;
  padding: 24px;
  text-align: center;
}

.confirm-modal span {
  display: block;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 1.25em;
}

.confirm-modal-action-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.confirm-modal-action-buttons button {
  color: var(--color-white);
  border-radius: 10px;
  font-size: 1.1em;
  padding: 8px 10px;
  width: calc(100 / 16 * 1rem);
  border: none;
  flex-shrink: 0;
}

.confirm-modal-action-buttons .confirm-btn {
  background-color: hsl(9, 84%, 55%);
}

.confirm-modal-action-buttons .cancel-btn {
  background-color: var(--color-primary-dark);
}

.close-modal-btn {
  position: relative;
  left: 100%;
  transform: translateX(-150%);
  margin-bottom: 8px;
}
