#profile-info {
  margin-bottom: 32px;
}

#email-address-label {
  font-weight: 600;
}

#delete-btn {
  background-color: hsl(9, 84%, 55%);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
}

.card {
  text-align: center;
}
